@model BungieApiClient.ViewModels.PlayerInfo
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">	
	<div class="col-md-12">
		<form asp-controller="Home" asp-action="Index" method="post">
			<div class="form-group">
				<input type="text" class="form-control" asp-for="PlayerName" placeholder="GamerTag/PSN ID">
				<span asp-validation-for="PlayerName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</form>		
	</div>	
</div>

<div class="row">	
	<div class="col-md-12">
		<a class="btn btn-primary" href="@ViewBag.FullAuthUrl">Login</a>
	</div>
</div>
